*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh   
}

form{
    background-color:rgb(222, 238, 238);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    gap: 10px;
    align-items: stretch;

}
input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

#boton{
    padding: 10px;    
    color: #2f75dd;
    
}

#titulo-form{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}