*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh   
}

form{
    background-color:rgba(208, 210, 223, 0.644);
    padding: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-sizing: border-box;
    gap: 10px;
    align-items: stretch;

}

label{
    font-family: Arial, Helvetica, sans-serif;

    color: #000;
}

input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    
}
#boton{
    padding: 10px;    
    color: #2f75dd;
    
}

#titulo-form{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:#2f75dd;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center
}